/*reset*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/*grid*/
.contenedor{
    height: 100%;
    width: 100%;
    display: grid;
    
    grid-template-areas: 
    "header header"
    "main main"
    "section section"
    "footer footer";
}

.contenedor{
    min-height: 100vh;
}
/*header*/
.contenedor header{
    grid-area: header;
    width: 100%;
}
    

.marca{
    text-align: Center;
    font-size: 40px;
    font-weight: bold;
    color: #E94560;
}
.fondo-color{
    background-color: #16213E;
}
/*main*/
.contenedor main{
    grid-area: main;
}
.nosotros{
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-nosotros{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
/*section*/
.contenedor section{
    grid-area: section;
}
/*footer*/
.contenedor footer{
    grid-area: footer;
    margin-top: auto;
}

.logos-sociales img:last-child{
    max-width: 4.54vh;
    max-height: 4.54vh;
}
/*body*/

body{
    background-color: #E94560;
    
    
}

/* anuncios*/

.anuncio-dos{
    display: none;
}
.anuncio-uno{
    display: none;
}

/*Header*/

.logo-granlector{
    display: none;
}

.marca{
    text-align: Center;
    font-size: 40px;
    font-weight: bold;
    color: #E94560;
}

/*Main Gran Lector*/

.nosotros{
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-nosotros{
    display: flex;
    flex-direction: row;
    justify-content: fle-end;
}
.img-nosotros img{
    border-radius: 100px;
}

.eventos{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.img-eventos{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.img-eventos img{
    border-radius: 100px;
}

/*tamaño de imagenes en card de manwha*/


.manwha img{
    max-height: 80%;
}


/*Main dudas*/

.staff{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;  
}

.staff div img{
    position: relative;
    display: inline-block;
    max-height: 60%;
    max-width: 40%;
    border-radius: 10rem ;
}

/*section dudas*/

.dudas-frecuentes{
    margin-top: 30px;
    margin-bottom: 30px;
}    
.mas-dudas{
    margin-top: 30px;
    margin-bottom: 30px;
} 

.mas-dudas div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mas-dudas img{
    max-height: 100%;
    max-width: 100%;
}


/*Main Register*/

.registrar{
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.registrar form fieldset{
    width: 100%;
    height: 100%;
    background-color: white;
}

.registrar form fieldset div{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*footer*/



.derechos{
    color: #E94560;
}

/*links css*/


a:visited{
    color: #E94560;
}

@media (max-width:2000px) and (min-width:650px){
    
    .contenedor{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas: 
        "header header header header header"
        "main main main main anuncio-dos"
        "anuncio-uno section section section section"
        "footer footer footer footer footer";
    }

    .img-nosotros{
        display: none;
    }

    .logo-granlector{  
        display: flex;  
    }
    .logo-granlector img{  
        max-width: 6vh;
        max-height: 6vh;
        
    }


    .anuncio-uno{
        display: flex;
        grid-area: anuncio-uno ;
    }

    .anuncio-dos{
        display: flex;
        grid-area: anuncio-dos ;
    }

    .anuncio-uno{
        height: 50%;
    }
}
